.container {
  width: 100%;
  height: 100vh;
  background-color: #8978f3;
  position: relative;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  padding: 50px 20px;
  border-radius: 30px;
  text-align: center;
  box-sizing: border-box;
}

.login-title {
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 800;
  color: #333333;
}

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.input {
  margin-bottom: 20px;
  padding: 15px 20px;
  border: none;
  background-color: #f3f1ff;
  border-radius: 10px;
}

.input-checkbox {
  margin-left: 0;
  margin-right: auto;
  color: #333333;
  font-weight: 600;
}

.auth-container {
  padding: 20px;
}

.user-greet {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
}

.button {
  border: none;
  border-radius: 15px;
  padding: 15px 30px;
  font-weight: 600;
  max-width: 130px;
  margin: 0 auto;
  cursor: pointer;
}

.logout {
  color: #333333;
  background-color: #fff;
}

.login {
  color: #fff;
  background-color: #8978f3;
}
